/****************************************
 * general purpose css-only components  *
 ****************************************/

.fm-panel {
    background-color: #fff;

    border: 1px solid black;

    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;

    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;

    margin-bottom: 20px;
    padding: 10px 10px 20px 10px;

    overflow: hidden;
}

.fm-panel > h4 {
    background-color: #E5E5E5;
    margin: -10px -10px 10px -10px;
    padding: 10px 10px 10px 10px;
}


/****************************************
 * angular components                   *
 ****************************************/

.fm-rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;

}

ul.fm-rating {
    display: inline-block;
}

.fm-rating-pointer {
    cursor: pointer;
}

.fm-rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
}

.fm-rating .fm-selected {
    color: #000000;
}

.fm-rating .fm-hover {
    text-shadow: white 0 0  2px,
    white 0 0  2px,
    white 0 0  2px,
    white 0 0  2px,
    blue  0 0 10px;
}

fm-rating a {
    visibility: hidden;
    padding-left: 7px;
}

fm-rating:hover a {
    visibility: visible;
}


.fm-deliver-to {
    display: block;
    width: 475px;
}



/****************************************
 * route specific css                   *
 ****************************************/


/* customer */

.fm-customer-bkg {
    background-image: url(../img/customer_bkg.jpg);
    opacity: 0.4;
    height: 705px;
}


/* restaurant list */

.fm-restaurant-list {
    min-height: 646px !important;
}

.fm-restaurant-list table {
    margin: -10px -20px -20px -10px;
    width: 700px;
}

.fm-restaurant-list th:first-child {
    width: 500px;
}

.fm-restaurant-list th {
    width: 100px;
}

.fm-restaurant-list img {
    margin-right: 10px;
    width: 100px;
    height: 100px;
}


/* Animation Hide*/

.animate-show.ng-hide-add, .animate-show.ng-hide-remove{
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
    display:inline-block!important;
}

.animate-show.ng-hide-add.ng-hide-add-active{
    opacity:0;
}

.animate-show.ng-hide-remove.ng-hide-remove-active{
    opacity:1;
}

.animate-show.ng-hide-add {
    opacity:1;
    color: white;
    background:royalblue;
}

.animate-show.ng-hide-remove {
    opacity:0;
    color: #808080;
    background:black;
}

/* Animation View */


.animate-enter.ng-enter {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.250) 1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;

    display:block;
    width:400px;

    position:absolute;
    /*top:0;
    left:0;
    right:0;
    bottom:0;*/

}

.animate-enter.ng-enter {
    left:100%;
}
.animate-enter.ng-enter.ng-enter-active {
    left:50%;
}


